@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using EmployeeApp.Web.Models
@model Employee

<!DOCTYPE html>
<html>
<head>
    <title>Alla Anställda</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body style="margin: 2rem;">
    <h1>Anställd</h1>
    <ul>
        <h1>Id:</h1>
        <h3>@Model.Id</h3>
        <br />

        <h1>Namn:</h1>
        <h3> @Model.Name</h3>
        <br />

        <h1>Email:</h1>
        <h3> @Model.Email</h3>
        <br />

        <a asp-controller="Employee" asp-action="index">Bakåt</a>

    </ul>
</body>
</html>